/*Sidebar Item start ------------------------------------*/
.dg_sidebar_item {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 16px;
  background-color: var(--eventBg);
  color: var(--eventTxt2);
  border-top: 1px solid var(--eventBgHover);
  cursor: pointer;
  transition: all 0.2s;
}

.dg_sidebar_item.dg_icon_angle_bottom {
  transition: all 0.2s;
}

.dg_sidebar_item:hover {
  background-color: var(--eventBgHover);
}

.dg_sidebar_item_active {
  background-color: var(--eventBgHover);
}

.dg_sidebar_item_active .dg_icon_angle_bottom {
  transform: rotate(180deg);
}

.dg_sidebar_item > .dg_sidebar_item_heading {
  padding: 0 6px;
  text-transform: capitalize;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--eventTxt);
  font-size: 12px;
}

.dg_sidebar_item > .dg_sidebar_item_count {
  color: var(--eventTxt2);
}

.dg_sidebar_sub_item {
  background-color: var(--eventBg2);
  color: var(--eventTxt2);
}

.dg_sidebar_sub_item:hover {
  background-color: var(--eventBg2Hover);
}

/*Sidebar Item end  ------------------------------------*/
