<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI Sidebar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
    <link rel="stylesheet" href="../../styles/skin.css" />
    <link rel="stylesheet" href="../../styles/ui.css" />
    <link rel="stylesheet" href="./sidebar.css" />
  </head>
  <body>
    <div class="dg_layout_root">
      <div class="dg_layout_sidebar">
        <div class="dg_sidebar_item">
          <i class="sport_front_icon-1"></i>
          <span class="dg_sidebar_item_heading">football</span>
          <span class="dg_sidebar_item_count">(4)</span>
          <i class="dg_icon_angle_bottom"></i>
        </div>

        <div class="dg_sidebar_item">
          <i class="sport_front_icon-3"></i>
          <span class="dg_sidebar_item_heading">tennis</span>
          <span class="dg_sidebar_item_count">(4)</span>
          <i class="dg_icon_angle_bottom"></i>
        </div>

        <div class="dg_sidebar_item">
          <i class="sport_front_icon-6"></i>
          <span class="dg_sidebar_item_heading">ruckby</span>
          <span class="dg_sidebar_item_count">(4)</span>
          <i class="dg_icon_angle_bottom"></i>
        </div>
       


        <div class="dg_sidebar_item dg_sidebar_item_active">
          <i class="sport_front_icon-3"></i>
          <span class="dg_sidebar_item_heading">tennis</span>
          <span class="dg_sidebar_item_count">(4)</span>
          <i class="dg_icon_angle_bottom"></i>
        </div>

        <div>
          <div class="dg_sidebar_item dg_sidebar_sub_item">
            <i class="dg_icon_cup"></i>
            <span class="dg_sidebar_item_heading">football</span>
            <i class="dg_icon_angle_bottom"></i>
          </div>
          <div class="dg_sidebar_item dg_sidebar_sub_item">
            <i class="dg_icon_cup"></i>
            <span class="dg_sidebar_item_heading">football</span>
            <i class="dg_icon_angle_bottom"></i>
          </div>
          <div class="dg_sidebar_item dg_sidebar_sub_item">
            <i class="dg_icon_cup"></i>
            <span class="dg_sidebar_item_heading">football</span>
            <i class="dg_icon_angle_bottom"></i>
          </div>
        </div>
        
        
      </div>
       
      </div>
    </div>
  </body>
</html>
