<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI Event</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
    <link rel="stylesheet" href="../../styles/skin.css" />
    <link rel="stylesheet" href="../../styles/ui.css" />
    <link rel="stylesheet" href="event.css" />
  </head>
  <body>
    <div class="dg_layout_root">
      <div class="dg_event_widget_root">
        <div class="dg_event_widget_header">
          <div class="dg_event_widget_heading">live games</div>
          <div class="dg_event_widget_tabs_wrapper">
            <button class="dg_event_widget_tab dg_event_widget_tab_active">
              pre match
            </button>
            <button class="dg_event_widget_tab">live</button>
          </div>
        </div>
        <div class="dg_event_widget_collapse">
          <i class="dg_icon_angle_bottom"></i>
          <span>box</span>
          <i class="sport_front_icon-7"></i>
        </div>
        <div class="dg_event_widget_event_content">
          <div class="dg_event_widget_event_legent">
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
          </div>
          <div class="dg_event_widget_event_items">
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
            <div>asd</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
