:root,
	:root[data-theme] {
        --bodyBg:  #0A0A0B;
        --bodyBg2:  #222226;
        --bodyBg3: #2e2e33;  
        --bodyBgHover:  #111113;
        --bodyBg2Hover:  #29292e;
        --bodyBg3Hover: #35353b;
        --bodyRGBA:  rgba(10, 10, 11, 0.7);
        --bodyRGBA2:  rgba(10, 10, 11, 0.5);
        --bodyRGBA3:  rgba(10, 10, 11, 0.3);
        --bodyTxt: #e7e7e7;
        --bodyTxt2: #cecece;
        --bodyTxt3: #b6b6b6;
        --bodyAccent: #00D3FF;
        --bodyAccentTxt: rgba(0, 0, 0, 0.9);
        --bodyBorder:  #0A0A0B;
        --bodyRadius:  8px;

        --dominantG: #111113;
        --dominantRGBA: rgba(17, 17, 19, 0.7);
        --dominantRGBA2: rgba(17, 17, 19, 0.5);
        --dominantRGBA3: rgba(17, 17, 19, 0.3);
        --dominantBg: #111113;
        --dominantBg2: #29292e;
        --dominantBg3: #35353b;
        --dominantBgHover: #18181b;
        --dominantBg2Hover: #303036;
        --dominantBg3Hover: #3c3c43;
        --dominantTxt: #e7e7e7;
        --dominantTxt2: #cfcfd0;
        --dominantTxt3: #b8b8b8;
        --dominantTxtInverse: #262626; 
        --dominantRadius: 8px;
    
        --accentBg: #00D3FF;
        --accentBg2:  #33dcff;
        --accentBg3: #4de0ff;
        --accentBgHover:  #0fd6ff;
        --accentBg2Hover:  #42dfff;
        --accentBg3Hover:  #5ce3ff;
        --accentG: #00D3FF;
        --accentTxt: #00151a;
        --accentTxt2: #002a33;
        --accentTxt3: #003f4d;        
      
        --buttonG: #0fd6ff;
        --buttonBg:  #0fd6ff;
        --buttonBg2:  #42dfff;
        --buttonBg3:  #5be3ff;
        --buttonBgHover:  #1ed9ff;
        --buttonBg2Hover:  #51e2ff;
        --buttonBg3Hover:  #6ae6ff;
        --buttonTxt: #02151a;
        --buttonTxt2: #032b33;
        --buttonTxt3: #05404d;
        --buttonAccent: #00D3FF;
        --buttonAccentTxt: rgba(0, 0, 0, 0.9);
        --buttonBorder: #0A0A0B;
        --buttonRadius: 0px;

        --buttonSecondaryG: #35353b;
        --buttonSecondaryBg:  #35353b;
        --buttonSecondaryBg2:  #4d4d56;
        --buttonSecondaryBg3:  #595963;
        --buttonSecondaryBgHover:  #3c3c43;
        --buttonSecondaryBg2Hover:  #54545e;
        --buttonSecondaryBg3Hover:  #60606b;
        --buttonSecondaryTxt: #ebebeb;
        --buttonSecondaryTxt2: #d7d7d8;
        --buttonSecondaryTxt3: #c2c2c4;
        --buttonSecondaryAccent: #00D3FF; 
        --buttonSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
        --buttonSecondaryBorder: #0A0A0B;
        --buttonSecondaryRadius: 8px;

        --inputG: #222226;
        --inputBg: #222226;
        --inputBg2: #3a3a41;
        --inputBg3: #46464e; 
        --inputBgHover: #29292e;
        --inputBg2Hover: #414149;
        --inputBg3Hover: #4d4d56;
        --inputTxt:  #e9e9e9;
        --inputTxt2: #d3d3d4;
        --inputTxt3: #bdbdbe;
        --inputAccent: #00D3FF;
        --inputAccentTxt: rgba(0, 0, 0, 0.9);
        --inputRadius: 8px;        
        --inputBorder: #0A0A0B;  

        --inputSecondaryG: #29292e;
        --inputSecondaryBg: #29292e;
        --inputSecondaryBg2: #414149;
        --inputSecondaryBg3: #4d4d56; 
        --inputSecondaryBgHover: #303036;
        --inputSecondaryBg2Hover: #484851;
        --inputSecondaryBg3Hover: #54545e;
        --inputSecondaryTxt:  #eaeaea;
        --inputSecondaryTxt2: #d4d4d5;
        --inputSecondaryTxt3: #bfbfc0;
        --inputSecondaryAccent: #00D3FF;
        --inputSecondaryAccentTxt: rgba(0, 0, 0, 0.9);
        --inputSecondaryRadius: 8px;        
        --inputSecondaryBorder: #0A0A0B;   

        --headerG: #35353b;
        --headerBg: #35353b;
        --headerBg2: #4d4d56;
        --headerBg3: #595963;
        --headerBgHover: #3c3c43;
        --headerBg2Hover: #54545e;
        --headerBg3Hover: #60606b;
        --headerTxt: #ebebeb;
        --headerTxt2: #d7d7d8;
        --headerTxt3: #c2c2c4;
        --headerAccent: #00D3FF;
        --headerAccentTxt: rgba(0, 0, 0, 0.9);
        --headerBorder: #0A0A0B;
        --headerRadius: 8px;

        --subHeaderG: #29292e;
        --subHeaderBg: #29292e;
        --subHeaderBg2: #414149;
        --subHeaderBg3: #4d4d56;
        --subHeaderBgHover: #303036;
        --subHeaderBg2Hover: #484851;
        --subHeaderBg3Hover: #54545e;
        --subHeaderTxt: #eaeaea;
        --subHeaderTxt2: #d4d4d5;
        --subHeaderTxt3: #bfbfc0;
        --subHeaderAccent: #00D3FF;
        --subHeaderAccentTxt: rgba(0, 0, 0, 0.9);
        --subHeaderBorder: #0A0A0B;
        --subHeaderRadius: 8px;

        --eventG: #222226;
        --eventBg: #222226;
        --eventBg2: #3a3a41;
        --eventBg3: #46464e;  
        --eventBgHover: #29292e;
        --eventBg2Hover: #414149;
        --eventBg3Hover: #4d4d56;
        --eventTxt: #e9e9e9;
        --eventTxt2: #bdbdbe;
        --eventTxt3: #bdbdbe;
        --eventAccent: #00D3FF;
        --eventAccentTxt: rgba(0, 0, 0, 0.9);
        --eventBorder: #0A0A0B;
        --eventRadius:  8px;

        --modalG: #222226;
        --modalBg: #222226;
        --modalBg2: #3a3a41;
        --modalBg3: #46464e;
        --modalBgHover: #29292e;
        --modalBg2Hover: #414149;
        --modalBg3Hover: #4d4d56;
        --modalTxt: #e9e9e9;
        --modalTxt2: #d3d3d4;
        --modalTxt3: #bdbdbe;
        --modalAccent: #00D3FF;
        --modalAccentTxt: rgba(0, 0, 0, 0.9);
        --modalRadius: 8px;
        --modalBorder: #0A0A0B;
 
        --oddG: #111113;
        --oddBg: #111113;
        --oddBg2: #29292e;
        --oddBg3: #35353b; 
        --oddBgHover: #18181b;
        --oddBg2Hover: #303036;
        --oddBg3Hover: #3c3c43;
        --oddTxt: #e7e7e7;
        --oddTxt2: #cfcfd0;
        --oddTxt3: #b8b8b8;
        --oddAccent: #00D3FF;
        --oddAccentTxt: rgba(0, 0, 0, 0.9);
        --oddRadius: 8px;
        --oddBorder: #0A0A0B;

        --oddActiveG: #0fd6ff;
        --oddActiveBg: #0fd6ff;
        --oddActiveBg2: #42dfff;
        --oddActiveBg3: #5be3ff;  
        --oddActiveBgHover: #1ed9ff;
        --oddActiveBg2Hover: #51e2ff;
        --oddActiveBg3Hover: #6ae6ff;
        --oddActiveTxt: #02151a;
        --oddActiveTxt2: #032b33;
        --oddActiveTxt3: #05404d;
        --oddActiveAccent: #00D3FF;
        --oddActiveAccentTxt: rgba(0, 0, 0, 0.9);
        --oddActiveRadius: 0px;
        --oddActiveBorder: #0A0A0B;
 
        --showMoreG: #111113;
        --showMoreBg: #111113;
        --showMoreBg2: #29292e;
        --showMoreBg3: #35353b; 
        --showMoreBgHover: #18181b;
        --showMoreBg2Hover: #303036;
        --showMoreBg3Hover: #3c3c43;
        --showMoreTxt: #e7e7e7;
        --showMoreTxt2: #cfcfd0;
        --showMoreTxt3: #b8b8b8;
        --showMoreAccent: #00D3FF;
        --showMoreAccentTxt: rgba(0, 0, 0, 0.9);
        --showMoreRadius: 8px;
        --showMoreBorder: #0A0A0B;


        --tabG: #222226;
        --tabBg: #222226;
        --tabBg2: #3a3a41;
        --tabBg3: #46464e;
        --tabBgHover: #29292e;
        --tabBg2Hover: #414149;
        --tabBg3Hover: #4d4d56;
        --tabTxt: #e9e9e9;
        --tabTxt2: #d3d3d4;
        --tabTxt3: #bdbdbe;
        --tabAccent: #00D3FF;
        --tabAccentTxt: rgba(0, 0, 0, 0.9);
        --tabRadius: 8px;
        --tabBorder: #0A0A0B;

        --tabActiveG: #29292e;
        --tabActiveBg: #29292e;
        --tabActiveBg2: #414149;
        --tabActiveBg3: #4d4d56;
        --tabActiveBgHover: #303036;
        --tabActiveBg2Hover: #484851;
        --tabActiveBg3Hover: #54545e;
        --tabActiveTxt: #eaeaea;
        --tabActiveTxt2: #d4d4d5;
        --tabActiveTxt3: #bfbfc0;
        --tabActiveAccent: #00D3FF;
        --tabActiveAccentTxt: rgba(0, 0, 0, 0.9);
        --tabActiveRadius: 8px;
        --tabActiveBorder: #0A0A0B; 

        --tabSecondaryActiveG: #29292e;
        --tabSecondaryActiveBg: #29292e;
        --tabSecondaryActiveBg2: #414149;
        --tabSecondaryActiveBg3: #4d4d56;
        --tabSecondaryActiveBgHover: #303036;
        --tabSecondaryActiveBg2Hover: #484851;
        --tabSecondaryActiveBg3Hover: #54545e;
        --tabSecondaryActiveTxt: #eaeaea;
        --tabSecondaryActiveTxt2: #d4d4d5;
        --tabSecondaryActiveTxt3: #bfbfc0;
        --tabSecondaryActiveAccent: #00D3FF;
        --tabSecondaryActiveAccentTxt: rgba(0, 0, 0, 0.9);
        --tabSecondaryActiveRadius: 8px;
        --tabSecondaryActiveBorder: #0A0A0B; 

        --filterG: #29292e;
        --filterBg: #29292e;
        --filterBg2: #414149;
        --filterBg3: #4d4d56;
        --filterBgHover: #303036;
        --filterBg2Hover: #484851;
        --filterBg3Hover: #54545e;
        --filterTxt: #eaeaea;
        --filterTxt2: #d4d4d5;
        --filterTxt3: #bfbfc0;
        --filterAccent: #00D3FF;
        --filterAccentTxt: rgba(0, 0, 0, 0.9);
        --filterRadius: 8px;
        --filterBorder: #0A0A0B; 

        --menu_1G: #222226;
        --menu_1Bg: #222226;
        --menu_1Bg2: #3a3a41;
        --menu_1Bg3: #46464e;
        --menu_1BgHover: #29292e;
        --menu_1Bg2Hover: #414149;
        --menu_1Bg3Hover: #4d4d56;
        --menu_1Txt: #e9e9e9;
        --menu_1Txt2: #d3d3d4;
        --menu_1Txt3: #bdbdbe;
        --menu_1Accent: #00D3FF;
        --menu_1AccentTxt: rgba(0, 0, 0, 0.9);
        --menu_1Radius: 8px;
        --menu_1Border: #0A0A0B; 

        --menu_2G: #29292e;
        --menu_2Bg: #29292e;
        --menu_2Bg2: #414149;
        --menu_2Bg3: #4d4d56;
        --menu_2BgHover: #303036;
        --menu_2Bg2Hover: #484851;
        --menu_2Bg3Hover: #54545e;
        --menu_2Txt: #eaeaea;
        --menu_2Txt2: #d4d4d5;
        --menu_2Txt3: #bfbfc0;
        --menu_2Accent: #00D3FF;
        --menu_2AccentTxt: rgba(0, 0, 0, 0.9);
        --menu_2Radius: 8px;
        --menu_2Border: #0A0A0B; 

        --menu_3G: #2e2e33;
        --menu_3Bg: #2e2e33;
        --menu_3Bg2: #46464e;
        --menu_3Bg3: #52525b;
        --menu_3BgHover: #35353b;
        --menu_3Bg2Hover: #4d4d56;
        --menu_3Bg3Hover: #595963;
        --menu_3Txt: #eaeaeb;
        --menu_3Txt2: #d5d5d6;
        --menu_3Txt3: #c0c0c2;
        --menu_3Accent: #00D3FF;
        --menu_3AccentTxt: rgba(0, 0, 0, 0.9);
        --menu_3Radius: 8px;
        --menu_3Border: #0A0A0B; 

        --tooltipG: #222226;
        --tooltipBg: #222226;
        --tooltipBg2: #3a3a41;
        --tooltipBg3: #46464e;
        --tooltipBgHover: #29292e;
        --tooltipBg2Hover: #414149;
        --tooltipBg3Hover: #4d4d56;
        --tooltipTxt: #e9e9e9;
        --tooltipTxt2: #d3d3d4;
        --tooltipTxt3: #bdbdbe;
        --tooltipAccent: #00D3FF;
        --tooltipAccentTxt: rgba(0, 0, 0, 0.9);
        --tooltipRadius: 8px;
        --tooltipBorder: #0A0A0B; 

           /* Old betslip */
        --betSlipBg: #222226;
        --betSlipBg2: #3a3a41;
        --betSlipBorder: #0A0A0B;
        --betSlipTxt: #e9e9e9;
        --betSlipTxt2: #d3d3d4;

        --betSlipStakeG: #29292e;
        --betSlipStakeBg: #29292e;
        --betSlipStakeTxt: #eaeaea;
        --betSlipStakeTxt2: #d4d4d5;

        --betSlipInputG: #29292e;
        --betSlipInputTxt: #eaeaea;

        --betSlipButtonG: #29292e;
        --betSlipButtonBg2: #414149;
        --betSlipButtonTxt: #eaeaea;
        --betSlipButtonRadius: 8px;
        

        --spritePositionX: 0px;
    }