*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: var(--bodyBg);
  color: var(--bodyTxt);
}

/*Layouts*/
.dg_layout_sidebar {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.dg_layout_main {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: var(--dominantBg);
}
.dg_layout_root {
  display: grid;
  grid-template-columns: 310px 1fr 260px;
  font-family: "Roboto", sans-serif;
}
